<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        thead tr th {
            background-color: rgba(128, 128, 128, 0.089);
        }
        tbody tr th{
            border-bottom: 1px solid rgba(143, 141, 141, 0.372) ;
        }

        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9 em;
            min-width: 600px;
            border-radius: 5px 5px 0 0;
        }

        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }
        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

    </style>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="../swiper-bundle.min.css">
    <link type="text/css" rel="stylesheet" href="../style1.css">
    <link type="text/css" rel="stylesheet" href="../style2.css">
</head>
<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs')%>
    <br><br><br><br><br>
    <!-- NAVBAR END -->
    <div style="display: flex; margin:auto; align-items: center; justify-content: center; flex-direction:column">
        <div>
            <div><h1>Admin Home</h1></div>
        </div>
        <div>
            <a href="/admin/add"><button>Add new Masseus</button></a>
        </div>
        <br>
        <div>
            <form action="/admin" method="get">
                <input type="text" name="search" style="width: 500px;">
                <input type="submit" value="search">
            </form>
        </div>
        <div>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <% data.forEach(el => {%>
                    <tbody>
                        <tr>
                            <td><%= el.name %> </td>
                            <td><%= el.gender %> </td>
                            <td><%= el.category %> </td>
                            <td><%= el.location %> </td>
                            <td><%= el.formatPrice() %> </td>
                            <td><img src="<%= el.img %>" alt="" width="100"></td>
                            <td>
                                <a href="/admin/<%= el.id%>/edit"><button>Edit</button></a>
                                <a href="/admin/<%= el.id%>/delete"><button>delete</button></a>
                            </td>
                        </tr>
                    </tbody>
                <% }); %> 
            </table>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>