<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            width: 70%;
        }
    </style>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="../swiper-bundle.min.css">
    <link type="text/css" rel="stylesheet" href="../style1.css">
    <link type="text/css" rel="stylesheet" href="../style2.css">
</head>
<body>
    <!-- NAVBAR -->
    <%- include('./partials/navbar.ejs')%>
    <!-- NAVBAR END -->
    <nav style="background-color: #f7ded6c6;">
        <div style="display: flex; align-items: center;">
        <img src="./img/logo3.png" alt="" class="nav-logo" width="60">
        <a href="" style="font-size: 25px; font-weight:600; text-decoration: none; color: black;">Pijet Ena</a>
        </div>
    </nav>
    <div>
        <div><h1>Admin Home</h1></div>
    </div>
    <div>
        <a href="/admin/add"><button>Add new Masseus</button></a>
    </div>
    <div>
        <form action="/admin" method="get">
            <input type="text" name="search" id="">
            <input type="submit" value="search">
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <% data.forEach(el => {%>
                <tbody>
                    <tr>
                        <td><%= el.name %> </td>
                        <td><%= el.gender %> </td>
                        <td><%= el.category %> </td>
                        <td><%= el.location %> </td>
                        <td><%= el.price %> </td>
                        <td><img src="<%= el.img %>" alt="" width="100"></td>
                        <td>
                            <a href="/admin/<%= el.id%>/edit"><button>Edit</button></a>
                            <a href="/admin/<%= el.id%>/delete"><button>delete</button></a>
                        </td>
                    </tr>
                </tbody>
            <% }); %> 
        </table>
    </div>
</body>
</html>