<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Masseus</title>
</head>
<body>
    
    <div>
        <h1>Add Masseus</h1>
    </div>
    <div>
        <form action="/admin/<%= data.id %>/edit" method="post">
            <div>
                <label for="name">Name:</label><br>
                <input type="text" name="name" id="" value="<%= data.name %> ">
            </div>
            <div>
                <label for="gender">Gender:</label><br>
                <select name="gender" id="">
                    <option value="male" <%= data.gender === 'male'? "selected": ""%> >Male</option>
                    <option value="female" <%= data.gender === 'female'? "selected": ""%>>Female</option>
                </select>
            </div>
            <div>
                <label for="name">Category:</label><br>
                <select name="category" id="">
                    <option <%= data.category === 'prenatal'? "selected": ""%> value="prenatal">Prenatal</option>
                    <option <%= data.category === 'jaringan dalam'? "selected": ""%>  value="jaringan dalam">Jaringan Dalam</option>
                    <option <%= data.category === 'aromaterapi'? "selected": ""%>  value="aromaterapi">Aromaterapi</option>
                    <option <%= data.category === 'refleksi'? "selected": ""%>  value="refleksi">Refleksi</option>
                    <option <%= data.category === 'olahraga'? "selected": ""%>  value="olahraga">Olahraga</option>
                </select>
            </div>
            <div>
                <label for="location">Location</label><br>
                <select name="location" id="">
                    <option value="jakarta timur" <%= data.location === 'jakarta timur'? "selected": ""%> >Jakarta Timur</option>
                    <option value="jakarta pusat" <%= data.location === 'jakarta pusat'? "selected": ""%> >Jakarta Pusat</option>
                    <option value="jakarta utara" <%= data.location === 'jakarta utara'? "selected": ""%>>Jakarta Utara</option>
                    <option value="jakarta selatan" <%= data.location === 'jakarta selatan'? "selected": ""%>>Jakarta Selatan</option>
                    <option value="jakarta barat" <%= data.location === 'jakarta barat'? "selected": ""%>>Jakarta Barat</option>
                </select>
            </div>
            <div>
                <label for="rating">Rating</label><br>
                <input type="number" name="rating" value="<%= data.rating %>">
            </div>
            <div>
                <label for="price">Price</label><br>
                <input type="number" name="price" value="<%= data.price %>">
            </div>
            <div>
                <label for="img">Image Link</label><br>
                <input type="text" name="img" value="<%= data.img %> ">
            </div>
            <br>
            <input type="submit" value="Update">
            <button><a href="/admin">Cancel</a></button>
        </form>
    </div>
</body>
</html>