<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />

    <!-- Link Swiper's CSS -->
    <link type="text/css" rel="stylesheet" href="/swiper-bundle.min.css">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/style1.css">

    <!-- BOXICONS CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link type="text/css" rel="stylesheet" href="/style2.css">
    <link rel=”icon” href=”/img/logo3.png”>
    <title>Pijet Ena-Ena</title>
    <style>
    </style>
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link type="text/css" rel="stylesheet" href="../../../swiper-bundle.min.css">
<link type="text/css" rel="stylesheet" href="../../../style1.css">
<link type="text/css" rel="stylesheet" href="../../../style2.css">
</head>
<body>
<!-- NAVBAR -->
<%- include('./partials/navbar.ejs')%>
<br><br><br><br><br>
<!-- NAVBAR END -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <div>
            <h1>
                <%= data.name %>
            </h1>
        </div>
        <div style="display: flex;">
            <div style="margin: 20px;"><img src="../../../<%= data.img %>" alt="" width="200" height="230"
                    style="border-radius: 10px;"></div>
            <div>
                <p><b>Category:</b>
                    <%= data.category %>
                </p>
                <p><b>Gender:</b>
                    <%= data.gender %>
                </p>
                <p><b>Location:</b>
                    <%= data.location %>
                </p>
                <p><b>Price:</b>
                    <%= data.price %>
                </p>
                <p><b>Rating:</b>
                    <%= formatRating
                    (dataLike.Testimonies.length * 5 / data.Testimonies.length)%>
                </p>
                <a href="/kang-pijet/<%= data.id %>/order"><button>Pesan</button></a>
                <a href="/kang-pijet/<%= data.id %>/testimoni"><button>Add Testimoni</button></a>
            </div>
        </div>
        <div >
            <div>
                <h2>Testimoni!!</h2>
            </div>
            <br>
            <div class="text" style="display: flex;">
                <% for (let i=0; i< (data.Testimonies.length < 1? 0:(data.Testimonies.length < 3? data.Testimonies.length: 3)); i++){ %>
                    <div class="slide swiper-slide" style="width: 500px; border: 1px solid grey; border-radius: 10px;margin-left: 20px; height: 150px;">
                        <i class='bx bxs-quote-alt-left quote-icon'></i>
                        <p style="width: 500px; font-size: 20px;">“<%= data.Testimonies[i].message %> ”</p>
    
                        <i class='bx bxs-quote-alt-left quote-icon'></i>
    
                    </div>
                    <%}%>
            </div>
            <div>

            </div>
        </div>
        

    </div>
    <%- include('./partials/footer.ejs')%>
</body>

</html>